tramp
url/*
var/*
transient/*
snippets/*
request/*
q4-icons/*
pyim/*
projectile-bookmarks.eld
nov-places
network-security.data
custom.el
elpa/*
elpa-26.3/*
emacs.d/*
image-dired/*
eshell/*
diary
ede-projects.el
customModes/*
bookmarks
backup/*
auto-save-list
addedPackages/*
ac-comphist.dat
.emacs.desktop*
.dap-breakpoints
.lsp-session-v1
.python-environments/*
.extension/*
/TODO/
/git
/elpa-bak/
.edbi-ds-history
/elpa*
%backup*
*#*
*~
anaconda-mode*
webkit*
*.bak